*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.tit{
	background-color: white;
	color: royalblue;

}

.tab{
	color: black;
}

.table {
	background-color: white;
	z-index: -100;
    position: absolute; 
    opacity: 0.8;
	font-family: sans-serif;
	box-shadow: 0px 0px 10px orange;
}